
body {
    background-color: rgb(100, 133, 176);
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
}


#home-pagina header img {
    display: flex;
    justify-content: center;  
    width: 20em;
    margin-left: 5.8%;
}

#home-pagina main img:first-of-type { 
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-top: -15%;
    float: right;
    margin-right: 40%;
    margin-bottom: -10%;
}

#home-pagina p {
    margin-top: 10%;
    margin: 10px;
    font-size: large;
    margin-bottom: 5%;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

#home-pagina h1 {
    color: white;
    text-align: left;
    margin-top: 10%;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4em;
}

#home-pagina main img:last-of-type { 
    float: right;
    width: 50%; 
    margin-bottom: 10%;
}

#home-pagina main a {
    display: inline-block; 
    text-decoration: none; 
    color: white; 
    background-color: #59b574; 
    padding: 15px 30px; 
    border-radius: 30px; 
    border: 2px solid #634e42; 
    font-size: 1.3em; 
    font-weight: bold; 
    text-align: center; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease; 
    margin-bottom: 40%;
    margin-left: 15.9%;
    margin-top: -7%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 10; 
}

footer img {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: -10%;
    left: 0;
    width: 113%;
    height: auto;
    margin-left: -12.0%;
    margin-bottom: 17%;
}

footer nav ul {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    margin-right: 4%; 
    padding: 0; 
    margin-bottom: 8%; 
    list-style: none; 
    text-decoration: none;
}

footer nav ul li a {
    text-decoration: none; 
    color: white; 
    font-size: 1.0em; 
    font-weight: bold; 
    text-shadow: 1px 1px 2px black;
    margin-top: -10%; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}


#tropentuin-pagina {
    background-color: rgb(100, 133, 176);
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
}


#tropentuin-pagina header img {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: auto;
    margin-bottom: 0%;
    margin-top: -15%;
    margin-bottom: -5%;
}
    


#tropentuin-pagina main img:first-of-type {
    display: flex;
    width: 100%;
}


#tropentuin-pagina main img:nth-of-type(2) {
    max-width: 100%;
    margin-top: -25%;
    margin-left: -2%;
}


#tropentuin-pagina main img:nth-of-type(3) {
    max-width: 100%;
    margin-top: -30%;
}


#tropentuin-pagina h1 {
    font-size: 1.4em;
    text-align: center;
    color: white;
    margin-top: -15%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 8%;
}

#tropentuin-pagina h2 {
    text-align: center;
    font-size: 1.4em;
    color: white;
    margin-top: -10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 13%;
}


#tropentuin-pagina footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}

#tropentuin-pagina footer img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: -15%; 
    height: auto;
    margin-top: 30%;
    
}


#tropentuin-pagina footer nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    list-style: none;
}

#tropentuin-pagina footer nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.boomstrooklinks {
    margin-top: -25%;
    max-width: 100%;
    margin-left: -2%;
}


.rechterboomstruik2{
    max-width: 100%;
    margin-top: -30%;
    margin-left: 0%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 10; 
}

.nav-balk {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: -10%;
    left: 0;
    width: 113%;
    height: auto;
    margin-left: -12.0%;
    margin-bottom: 17%;
}

footer nav ul {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    margin-right: 4%; 
    padding: 0; 
    margin-bottom: 8%; 
    list-style: none; 
    text-decoration: none;
    
}

footer nav ul li a {
    text-decoration: none; 
    color: white; 
    font-size: 1.0em; 
    font-weight: bold; 
    text-shadow: 1px 1px 2px black;
    margin-top: -10%; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}


.openingstijden-kop {
    font-size: 1.5em; 
    font-weight: bold; 
    color: #ffffff; 
    margin-bottom: 5px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -10%;
    margin-bottom: 15%;
    margin-left: 4%;
}

.adres-tekst{
    font-size: 1.1em; 
    font-weight: normal; 
    color: #ffffff; 
    margin-bottom: 15%; 
    line-height: 1.2; 
    margin-top: -18%;
    text-align: left;
    padding: 1.0em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.adres-kop{
    font-size: 1.5em; 
    font-weight: bold;
    color: #ffffff; 
    margin-bottom: 5px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -10%;
    margin-bottom: 15%;
    margin-left: 5%;
}

.openingstijden-tekst {
    color: white;
    font-weight: normal;  
    margin-bottom: 15px; 
    line-height: 1.5; 
    margin-top: -15%;
    line-height: 1.2; 
    margin-top: -17%;
    text-align: left;
    padding: 1.0em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.boomstrooklinks2{
    margin-top: -30%;   
    max-width: 100%;
    margin-left: -2%;
    padding-bottom: 3em;
}
.introductie-tropentuin {
    text-align: center;
    margin-bottom: -10%;
    font-size: 1.0em;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0%;
    font-weight: normal;
    padding: 1.0em;
    margin-left: -3%;
}
.locatie-balk {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: auto;
    margin-bottom: 0%;
    margin-top: -1%;
}
.zelfaandeslag {
    padding-bottom: 50%;
    text-align: center;
    margin: 14px;
    font-size: 1.2em;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    margin-top: -9%;
}
.textstukjep {
    margin-top: 9%;
    font-size: 1.2em;
    margin: 14px;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
